<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple chatting app with vue</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="col-lg-6 offset-lg-3">
                <div v-if="ready">
                    <p v-for="item in info"> <!-- this will check to see who connected and who disconnected when inside-->
                        {{item.name}} {{item.type}}
                    </p>

                </div>


                <div v-if="!ready">
                    <h4>Please insert your name</h4>
                    <form @submit.prevent="addName">
                        <div class="form-group row">
                          
                          <input type="text" class="form-control col-9" v-model='name' placeholder="Username:">
                          <input type="submit" value="add" class="btn btn-sm btn-info ml-1">
                        </div>
                      </form>
                </div>
                <h1 v-else>{{name}}</h1>
                <div class="card bg-info" v-if="ready">
                    <div class='card-header'>
                        Chatting with Vue.js <span class = "float-right">{{connections}} connections</span>
                    </div>
                    <ul class="list-group list-group-flush text-right">
                        <small v-if="typing" class = "text-white">{{typing}} is typing</small>
                        <li class="list-group-item" v-for="message in messages">
                        <span :class="{'float-left':message.type === 1}">
                            <small>:{{message.by}}</small>
                            {{message.message}}

                        </span>

                        </li>
                    </ul>
                    <!-- font styling with bootstrap-->
                    <div class="card-body">
                        <form @submit.prevent="send">
                            <div class="form-group">
                              
                              <input type="text" class="form-control" v-model='newmessage' placeholder="Type Here">
                              
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> 
<script>
    var socket = io();
    let app = new Vue({
        el: '#app',
        data: {
            newmessage: null,
            messages: [], //we will messages here
            typing:false, //keep track to see if the user is typing or not
            name: null,
            ready: false,
            info: [],
            connections: 0
        },
        watch: {
            newmessage(value){ //keep watch of when a typing occurs to display it to the user
                value ? socket.emit('typing',  this.name):socket.emit('stopTyping');
            }
        },
        methods: {
            send() {
                this.messages.push({message:this.newmessage, type: 0, by: 'Me'}); //0 type means sending
                socket.emit('chat-message', {message:this.newmessage,user:this.name});
                this.newmessage = ''; // so that the text box is clear after send the message
            },

            addName(){
                this.ready = true;
                socket.emit('joined', this.name)
            }
        },

        created(){
            window.onbeforeunload = () =>{
                socket.emit('leaved', this.name)
            }

            socket.on('connections', (data) =>{
                this.connections = data;
            })

            socket.emit('created', 'Gabriel') //whenever a connection is made, emit an event
            socket.on('created', (data) =>{
                console.log(data);
            })

            socket.on('chat-message', (data) => {
                this.messages.push({message:data.message, type: 1, by: data.user}) //this one is for other users (type 1, receiving)
                this.typing = false
            })

            socket.on('typing', (name) =>{
                this.typing = name
            })

            socket.on('stopTyping', () =>{
                this.typing = false
            })

            socket.on('joined', (data) => {
                this.info.push({name:data,type:'Joined'})

                setTimeout(() =>{
                    this.info = []
                }, 5000)
            })

            socket.on('leaved', (data) => {
                this.info.push({name:data,type:'Leaved'})
                setTimeout(() =>{
                    this.info = []
                }, 5000)
            })
        }
    })
</script>